.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    padding: 2px;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    
    
  }
  

  .footer-content {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .icon {
    font-size: 24px;
  }
  
  .logo {
    height: 40px;
  }
  