.container2 {
  perspective: 1000px;
  width: 220px;
  height: 320px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  position: absolute;
  right: 4%;
  top: 10%;
  z-index: 10;
}

.card2 {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.card2.flipped2 {
  transform: rotateY(180deg);
}

.card2Side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(254, 254, 254);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Lado frontal */
.front2 {
  background-color: #fbfbfb;
}

/* Lado posterior */
.back2 {
  background-image: url("https://media.istockphoto.com/id/1446237130/es/vector/antecedentes-abstractos-del-concepto-de-blockchain.jpg?s=170667a&w=0&k=20&c=7VvcXN8XWBjpMluqNcisRsyyfIhVYMua0QOrs05ffA8=");
  background-size: cover;
  background-position: center;
  color: #ffffff;        /* blanco puro */
  transform: rotateY(180deg);
  font-weight: 600;      /* semi-bold para mejor lectura */
  text-align: justify;   /* justificado */
  line-height: 1.4;      /* más compacto */
  letter-spacing: 2.6px; /* pequeño espacio entre letras */
  padding: 20px;         /* margen interno para que respire */
  border-radius: 12px;   /* esquinas redondeadas */
  font-size: 16px;       /* tamaño legible */
}

.overlay2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.title,
.list {
  position: relative;
  z-index: 1;
}

.list {
  text-align: left;
  padding: 10px;
  list-style-type: disc;
}

.rotatingImage2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
