/* From Uiverse.io by ammarsaa */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #0b0b0b;
  color: #fff;
  border: 1px solid #333;
  display: flex;
  min-height: 40vh; 
  margin-top: 40px; 

}

.title {
  font-size: 28px;
  font-weight: 600;
  font-weight: bold;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
  text-align: center; 
  
}

.title::before {
  width: 20px;
  height: 20px;
}

.title::after {
  width: 16px;
  height: 16px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message, 
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 25px;
  
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .select {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}
.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
.form label .select + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}
.form label .select:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}
.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}
.form label .select:focus + span,
.form label .select:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}
.input {
  font-size: medium;
}
.select {
  font-size: medium;
}
.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  transform: .2s ease;
  background-color: #0b1eee;
  display: block;
  margin: 0 auto;

}

.submit:hover {
  background-color: #e40422fa;
}
.buttons{
  display: flex;
  justify-content: center; 
  gap: 50px; 
}


@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}