.filters {
  margin-top: 200px; /* Mantiene el ajuste */
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 240px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.input:focus {
  border-color: #5a5a5a;
  box-shadow: 0 0 5px rgba(90, 90, 90, 0.4);
  outline: none;
}

.studentsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  justify-content: center;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pageButton {
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  background-color: #f1f1f1;
}

.pageButton:hover {
  background-color: #cfcfcf;
  color: #333;
  border-color: #bbb;
}

.student_card {
  width: 240px;
  border: 1px solid #ddd;
  padding: 18px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
}

.student_card:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.addGraduateLink a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: none;
  background-color: #3456ec;
  color: #e5e4e4;
  font-size: 15px;
  font-weight: normal;
  padding: 10px 18px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  max-width: 220px;
  margin: 30px auto;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.addGraduateLink:hover a {
  background-color: #110284;
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.Container_table{
  margin-left: 30px;
}